
*,
*::before,
*::after {
  box-sizing: border-box;
  outline: none;
}
p {
  font-family: Lato;
}

.movie_container{
    display: flex;
  }
  .movie_innerContainer{
  
  }
  .card_wrapper{
  height: 300px;
  }
  .card_title{
  
  }
  .image_wrapper{height: 250px;background: #000}
  
  
  
  
  .row {
    display: flex;
    /* flex-wrap: wrap; */
  }
  
  .column {
    flex: 1;
  }





  img {
    height: auto;
    max-width: 100%;
    vertical-align: middle;
  }
  .btn {
    background-color: white;
    border: 1px solid #cccccc;
    color: #696969;
    padding: 0.5rem;
    text-transform: lowercase;
  }
  .btn--block {
    display: block;
    width: 100%;
  }
  .cards {
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .cards__item {
    display: -webkit-box;
    display: flex;
    padding: 1rem;
  }
  @media (min-width: 40rem) {
    .cards__item {
      width: 50%;
    }
  }
  @media (min-width: 56rem) {
    .cards__item {
      width: 33.3333%;
    }
  }
  .card {
    background-color: white;
    border-radius: 0.25rem;
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    overflow: hidden;
  }
  .card:hover .card__image {
    -webkit-filter: contrast(100%);
            filter: contrast(100%);
  }
  .card__content {
    display: -webkit-box;
    display: flex;
    -webkit-box-flex: 1;
            flex: 1 1 auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    padding: 1rem;
  }
  .card__image {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    -webkit-filter: contrast(70%);
            filter: contrast(70%);
    overflow: hidden;
    position: relative;
    -webkit-transition: -webkit-filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91);
    transition: -webkit-filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91);
    transition: filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91);
    transition: filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91), -webkit-filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91);
  }
  .card__image::before {
    content: "";
    display: block;
    /* padding-top: 56.25%; */
  }
  @media (min-width: 40rem) {
    .card__image::before {
      /* padding-top: 66.6%; */
    }
  }
  
  .card__title {
    color: #696969;
    font-size: 1.25rem;
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
  .card__text {
    -webkit-box-flex: 1;
            flex: 1 1 auto;
    font-size: 0.875rem;
    line-height: 1.5;
    margin-bottom: 1.25rem;
  }
  
  .action_Pagination{display: flex;justify-content: center;margin: 40px 0;}
  .actionButton{display: inline-block;
    padding: 15px 75px;
    border-radius: 4px;
    background: black;
    color: #fff;
    font-size: 20px;
    font-weight: 600;cursor: pointer;}
    .inputContainer{display: flex;justify-content: center}
    .searchInput{display: block;
      width: 50%;
      padding: 15px;
      border-radius: 5px;
      border: none;
      border-bottom: 1px solid #cdcdcd;
      font-size: 20px;
      font-weight: 600;
      text-align: center;
      background: dimgray;
      border-bottom-right-radius: 0;
      border-top-right-radius: 0;
      color: #fff;
  }
  input::placeholder{color: #fff}
  .info{display: flex;flex-direction: column;align-items: center;justify-content: center;font-size: 18px;font-weight: 700;;flex:1;color:#FF0000;margin: 40px 0;  }
  .searchInfo{color:#00b300}