<!-- card componenet -->
<div class="inputContainer">
    <input class="form-control searchInput" type="text" name="search" [(ngModel)]="searchText.Title" autocomplete="off" placeholder="Start searching by Movie Title">
    <button class="actionButton" (click)="getData($event)">Search With Movie Title</button>
</div> 
<div class="cards" *ngIf="Response">
    <div class="cards__item" *ngFor="let movie of searchParameter | filterBy : searchText">
        <div class="card">
            <div class="card__image">
                <img class="img" src={{movie.Poster}} alt="Movie Image" width=100% />
            </div>
            <div class="card__content">
                <div class="card__title">{{movie.Title}} ({{movie.Year}})</div>
                <p class="card__text">Lorem Ipsum is simply dummy text of the printing and typesetting
                    industry. Lorem Ipsum has been the industry's standard dummy text
                    ever since the 1500s, when an unknown printer took a galley of type
                    and scrambled it to make a type specimen book.</p>
            </div>
        </div>
    </div>
    <div class="info" *ngIf="(searchParameter !== undefined) && (searchParameter | filterBy: searchText).length === 0">
        <div>SORRY!!!! NO DATA FOUND WITH THE CURRENT INPUT</div>
        <div class="searchInfo">STILL YOU CAN SEARCH GLOBALLY FOR YOUR INPUT</div>
    </div>
</div>
<div class="info" *ngIf="noData">
  <div>SORRY!!!! NO DATA FOUND WITH THE CURRENT MOVIE TITLE INPUT</div>
</div>
<div class="action_Pagination" *ngIf="(searchParameter !== undefined) && (searchParameter | filterBy: searchText).length !== 0">
  <button class="actionButton" *ngIf="result > 1" value="prev" (click)="getData($event)">Prev</button>
  <button class="actionButton" *ngIf="!noData" value="next" (click)="getData($event)">Next</button>
</div>



